* {
  -webkit-font-smoothing: antialiased;
}
::selection {
  background: #FFF7C7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #FFF7C7; /* Gecko Browsers */
}

/*
 * Globals
 */
body {
  color: #222222;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing : 0.4px;
  line-height: 28px;
  margin: 0;
  background-image: url("../img/svg-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

h1{
  color: #253746;
  font-size: 34px;
  text-align: center;
  line-height: 1.2;
  font-weight: 800;
  width: 50%;
  margin: 0 auto;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    min-height: calc(100vh - 90px);
}
.content-section {
  margin-bottom: 3.75rem;
}


/* General */
@media (min-width: 768px)
{
  .container {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  h1 {
    width: inherit;
    color: #266291;
  }
}
@media (min-width: 1200px)
{
  .container {
    max-width: 1140px;
  }
}