<template>
  <section class="page">
    <!-- Vue tag to add header component -->
    <header-medicare/>
    <div class="container">
      <div class="announcement-bar">
        <p>Continue Medicare Path</p>
      </div>
      <link-button pageName="" type="page">Go Back</link-button>
    </div>
  </section>
</template>

<script>
// imports for all components
import HeaderMedicare from '../components/HeaderMedicare.vue'
import LinkButton from '../components/LinkButton.vue'

export default {
  name: 'ContinuedMedicare',
  components: {
    HeaderMedicare,
    LinkButton
  }
}
</script>

<style scoped>
  .announcement-bar {
    text-align: center;
  }
  .page-button {
    width: 310px;
    margin-top: 45px;
  }
  @media (max-width: 768px)
  {
    .page-button {
      margin-top: 30px;
    }
  }
</style>