<template>
  <section class="homepage">
    <!-- Vue tag to add header component -->
    <header-medicare/>
    <div class="container">
      <div class="announcement-bar">
        <p>Great news! Since you’re already receiving benefits, let us help you qualify for more!</p>
      </div>
      <div class="home-card-wrapper">
        <h1>Which Benefits Are You Already Receiving?</h1>
        <div class="home-buttons-wrapper">
          <link-button iconSrc="capitol.png" pageName="Medicare" type="home">Social Security Disability Insurance (SSDI)</link-button>
          <link-button iconSrc="museum.png" pageName="Avid" type="home">Supplemental Security Income (SSI)</link-button>
          <link-button iconSrc="sergeant-major-sgt.png" pageName="Veteran" type="home">United States Veteran Benefits</link-button>
        </div>
        <link-button pageName="Offer" type="other">Other</link-button>
        <h2>Qualify For More Benefits In As Little As 30 Seconds</h2>
      </div>
    </div>
  </section>
</template>

<script>
// imports for all components
import HeaderMedicare from '../components/HeaderMedicare.vue'
import LinkButton from '../components/LinkButton.vue'
/* import 'bootstrap'
import 'bootstrap/dist/css/bootstrap.min.css' */

export default {
  name: 'home-page',
  components: {
    HeaderMedicare,
    LinkButton
  }
}
</script>

<style lang="scss">
  .home-card-wrapper {
    box-shadow: 0px 10px 10px #00000029;
    background: white;
    text-align: center;
    padding: 20px;
    @media (max-width: 768px) {
      padding: 0;
      padding-bottom: 20px; 
    }
  }
  .home-buttons-wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 100%;
    @media (max-width: 768px) {
      max-width: 80%;
      margin: 0 auto;
      flex-direction: column;
    }
  }
  h2 {
    font-weight: lighter;
    margin-top: 44px;
    @media (max-width: 768px)
    {
      display: none;
    }
  }
  .announcement-bar {
    font-size: 18px;
    border-radius: 4px;
    background-color: #FDD26E31;
    border: solid 1px #FDD26E;
    padding: 14px 18px;
    margin: 15px auto;
    width: 50%;
    p {
      margin: 0;
    }
    @media (max-width: 768px) {
      width: initial;
      margin: 15px 10px;
    }
  }
</style>
