<template>
  <section class="page">
    <!-- Vue tag to add header component -->
    <header-medicare/>
    <div class="container">
      <div class="card-wrapper">
        <h1>Are You Willing To Be Contacted By A Licensed Insurance Agent?</h1>
        <div class="mobile-wrapper">
          <link-button pageName="ContinuedMedicare" type="page">YES</link-button>
          <link-button pageName="DNCMedicare" type="page">NO</link-button>
          <p>
            By submitting this form, I agree by electronic signature to: (1) be contacted by Adduco Media, Benefits.com, sponsoring advocates, or sponsoring attorneys, and hereby authorize direct contact via telemarketing or advertising calls from an individual or using an automatic telephone dialing system or an artificial or prerecorded voice (as applicable), email messages, MMS messages, SMS messages, prerecorded voice messages, or postal mail at my residential or cellular number , even if the number is a wireless number or on any federal or state do-not-call list; and (2) the Privacy Policy and Terms of Use (including this arbitration provision). (3) I understand that I am not required to submit this form to apply for Social Security Disability Benefits, and that consent is not a condition of purchasing any property, goods, or service.
          </p>
        </div>
      </div>
      <link-button pageName="" type="other">Go Back</link-button>
    </div>
  </section>
</template>

<script>
// imports for all components
import HeaderMedicare from '../components/HeaderMedicare.vue'
import LinkButton from '../components/LinkButton.vue'

export default {
  name: 'Medicare',
  components: {
    HeaderMedicare,
    LinkButton
  }
}
</script>

<style scoped>
  p {
    font-size: 10px;
    color: #22222280;
    line-height: 1;
    margin-top: 25px;
    display: none;
  }
  .card-wrapper {
    margin-top: 55px;
    box-shadow: 0px 10px 10px #00000029;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 3px;
  }
  .mobile-wrapper {
    padding: 0px 52px 38px;
  }
  @media (max-width: 768px)
  {
    p {
      display: block;
    }
  }
</style>