<template>
  <footer class="footer">
    <p>Disability Guide © Copyright 2020</p>
    <p> 
      <a href="#">Privacy Policy</a>
      <a href="#">Terms of Use</a>
      <a href="#">Do Not Sell My Information</a>
    </p>
  </footer>
</template>

<script>
export default {
  name: 'FooterMedicare'
}
</script>

<style lang="scss" scoped>
.footer {
  padding: 15px 0;
  height: 40px;
  text-align: center;
  background-color: #236192;
  color: white;
  p {
    font-size: 12px;
    margin: 0 auto;
    line-height: 20px;
    a {
      color: white;
      text-decoration: none;
      padding: 0 4px;
      border-right: 1px solid;
    }
    a:last-child {
      border-right: none;
    }
    a:hover{
      text-decoration: underline;
    }
  }
  @media (min-width: 768px) {
    p {
      display: inline-block;
      line-height: 40px;
    }
  }
}
</style>
