<template>
  <header class="site-header">
    <router-link class="site-logo" to="/" exact>
      <img class="logo" src="../assets/img/logo.png">
      <span>DISABILITY GUIDE</span>
    </router-link>
  </header>
</template>

<script>
export default {
  name: 'HeaderMedicare',
}
</script>

<style>
/* Site header */
.site-header {
  background-color: #236192;
  height: 42px;
  padding: 11px 0;
  text-align: center;
}
.site-logo {
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: none;
  line-height: 42px;
  font-size: 17px;
  font-weight: lighter;
}
.site-logo .logo {
  max-width: 42px;
  height: 40px;
}
</style>

