<template>
    <router-link :to="pagePath" exact :class="buttonClass">
      <img :src="imageSrc" v-if="imageSrc">
      <span><slot></slot></span>
    </router-link>
</template>

<script>

export default {
  name: 'LinkButton',
  props: ['iconSrc', 'pageName', 'type'],
  computed: {
      imageSrc() {
        return  this.iconSrc ? require("../assets/img/" + this.iconSrc) : "" 
      },

      pagePath() {
        return "/" + this.pageName
      },
      
      buttonClass() {
        return this.type + "-button btn"
      }
  }
}
</script>
<style scoped lang="scss">
  .btn {
    text-decoration: none;
    border: 2px solid;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #222222;
    transition: all 0.3s ease-in-out;
    background: white;
    span {
      font-size: 18px;
      text-align: center;
    }
  }
  .home-button {
    width: 241px;
    border-radius: 100%;
    height: 241px;
    flex-direction: column;
    img {
      max-width: 50px;
    }
    span {
      margin-left: 20px;
    }
    &:hover {
      background-color: #236192;
      color: white;
    }
    @media (max-width: 768px){
      border-color: #9BB8D3;
      border-radius: 10px;
      flex-direction: row;
      width: initial;
      height: inherit;
      img {
        max-width: 30px;
      }
      span {
        text-align: left;
      }
    }
  }

  .other-button {
    border-color: #2222221A;
    color: #22222273;
    max-width: 240px;
    margin: 30px auto 40px;
    &:hover {
      background-color: #e2e6ea;
      border-color: #dae0e5;
    }
    @media (max-width: 768px){
      max-width: 200px;
    }
  }

  .page-button {
    background-color: #FDD26E;
    border-color: #FEBF3F;
    padding: 25px;
    width: 415px;
    margin: 10px auto;
    span {
      font-size: 24px;
      font-weight: 800;
    }
    &:hover {
      background-color: #FEBF3F;
    }
    @media (max-width: 768px){
       width: initial;
    }
  }
</style>