<template>
  <div id="app">
    <router-view/>
    <footer-medicare/>
  </div>
</template>

<script>

import FooterMedicare from './components/FooterMedicare.vue'

export default {
  name: 'App',
  components: {
    FooterMedicare
  }
}
</script>
<style>
  @import "./assets/css/common.css";
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');
</style>
